// Benefits
.home h2 {
    @include breakpoint(small) {
        position: relative;
        margin-bottom: rem-calc(16);
        margin-left: rem-calc(30);
        font-size: rem-calc(14);
        font-style: italic;
        line-height: 1.4;
        overflow: auto;
    }
    @include breakpoint(medium) {
        float: left;
        width: 33%;
        margin-left: 0;
    }
    span {
        display: block;
    }
    img {
        float: left;
        margin-right: .65rem;
        margin-top: 4px;
        width: rem-calc(30);
    }
}

.home .entry-content h1,
.home .entry-content p,
.page .entry-content h1,
.page .entry-content p,
.error404 .entry-content h1,
.error404 .entry-content p,
{
    -moz-animation-name: dropIcons;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: cubic-bezier(.95, 0, .1, 1);
    -moz-animation-duration: 2.4s;
    -webkit-animation-name: dropIcons;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(.95, 0, .1, 1);
    -webkit-animation-duration: 2.4s;
    animation-name: dropIcons;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.95, 0, .1, 1);
    animation-duration: 2.4s;
}

@-moz-keyframes dropIcons {
    0% {
        -moz-transform: translateY(-65px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes dropIcons {
    0% {
        -webkit-transform: translateY(-65px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes dropIcons {
    0% {
        transform: translateY(-65px);
    }
    100% {
        transform: translateY(0);
    }
}

.home .entry-content h2,
.page .entry-content h2 {
    -moz-animation-name: dropIcons;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: cubic-bezier(.95, 0, .1, 1);
    -moz-animation-duration: 2.6s;
    -webkit-animation-name: dropIcons;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(.95, 0, .1, 1);
    -webkit-animation-duration: 2.6s;
    animation-name: dropIcons;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.95, 0, .1, 1);
    animation-duration: 2.6s;
}

@-moz-keyframes dropIcons {
    0% {
        -moz-transform: translateY(-65px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes dropIcons {
    0% {
        -webkit-transform: translateY(-65px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes dropIcons {
    0% {
        transform: translateY(-65px);
    }
    100% {
        transform: translateY(0);
    }
}