.single-post .container {
    position: relative;
    bottom: 0;
}

#single-post {
    @include grid-row();
    .main-content {
        @include breakpoint(small) {
            @include grid-column(12);
        }
    }
    .sidebar {
        width: 100%;
    }
}